@keyframes scroll {
  100% {
    transform: translateX(0%);
  }
  0% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 50s linear infinite;
  display: flex;
  width: max-content;
}

/* // route */

.card2-container {

  position: relative;
  box-shadow: 20px 20px 30px rgba(56, 48, 163, 0.119);
  overflow: hidden;
}

.card2 {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.card2 .front-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
}

.card2 .front-content p {
  font-weight: 700;
  opacity: 1;
  background: linear-gradient(-200deg, #fff 0%, #000 100% );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
}

.card2 .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  background: linear-gradient(-45deg, #000 0%, #000 100% );
  color: #e8e8e8;
  padding: 20px;
  line-height: 1.5;
  border-radius: 5px;
  pointer-events: none;
  transform: translateY(-96%);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card2 .content .heading {
  font-weight: 700;
}

.card2:hover .content {
  transform: translateY(0);
}

.card2:hover .front-content {
  transform: translateY(30%);
}

.card2:hover .front-content p {
  opacity: 0;
}

